# Device Configuration
DEVICE=peridot
VARIANT=user
WITH_GMS=True
OFFICIAL_FLAG=False
WITH_MICROG=False

# Telegram Configuration
CHAT_ID=-100xxxxxxxx
BOT_TOKEN=your_bot_token
ERROR_CHAT_ID=-100xxxxxxxx

# Upload Configuration
UPLOAD_GOFILE=True
GOFILE_TOKEN=

# Initial install zip Configuration
INITIAL_INSTALL_ZIP_DEVICES=
